<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<script src=""></script>
	<title>Hello</title>
</head>
<body>
	<h1>Hello Gulpjs !</h1>
	<a href="http://gulpjs.com/" target="_blank">
		<img src="images/gulplogo.png" />
		<h2>gulp.js</h2>
	</a>

	<ul>
		<li><label>Homepage:</label><a href="https://github.com/keith3/generator-gulp-app" target="_blank">https://github.com/keith3/generator-gulp-app</a></li>
		<li><label>Bugs:</label><a href="https://github.com/keith3/generator-gulp-app/issues" target="_blank">https://github.com/keith3/generator-gulp-app/issues</a></li>
	</ul>
</body>
</html>
