<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="">
	<script src=""></script>
	<title>Hello</title>
</head>
<body>
	<h1>Happy coding!</h1>
	delete me for a test :)
	<ul>
		<li>Repository	git://github.com/keith3/generator-gulpx (git)</li>
		<li>Homepage	<a href="https://github.com/keith3/generator-gulpx">https://github.com/keith3/generator-gulpx</a></li>
		<li>Bugs	<a href="https://github.com/keith3/generator-gulpx/issues">https://github.com/keith3/generator-gulpx/issues</a></li>
	</ul>
</body>
</html>
